<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Acceptance Test the TV Guide</title>
  </head>

  <body>
    <h1>List of Shows</h1>
    <h3>TV Shows:</h3>
    <ul>
      <% @tv_shows.each do |tvshow| %>
        <% @title = tvshow.title %>
        <% @network = tvshow.network %>
        <% @starting_year = tvshow.starting_year %>
        <% @synopsis = tvshow.synopsis %>
        <% @genre = tvshow.genre %>
        <% @listing = "#{@title} (#{@network}): #{@synopsis} Aired: #{@starting_year}. #{@genre}" %>
        <li>
          <%= @listing %>
        </li>
      <% end %>
    </ul>
  <div class="submit_link">
    <a href="/television_shows/new">Add TV Show</a>
  </div>
  </body>
</html>
